apiVersion: v1
kind: Service
metadata:
  name: nodeport
spec:
  selector:
    app: pdd
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
  type: NodePort
  # Specify the NodePort value, adjust as needed
